@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap");

:root {
  --font-primary: "Open Sans", sans-serif;
  --heading-font: "Cormorant", serif;
  --color-primary: #181509;
  --color-accent: #f4d35e;
  --color-text: #343a40;
  --inset-shadow: inset 0 0 100px 2px var(--color-primary);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/*  */
body {
  font-family: var(--font-primary);
  background-color: #ffffff6c;
  color: #000;
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
  /* color: var(--color-text); */
}

input:focus,
button:focus,
textarea:focus,
select:focus {
  outline: none;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  border: none;
}
button {
  background-color: transparent;
  cursor: pointer;
}

/* Reusable styles */
.heading-primary {
  font-family: var(--heading-font);
  text-align: center;
  max-width: 60rem;
  font-size: 4.8rem;
  line-height: 1.1;
}
.heading-secondary {
  font-family: var(--heading-font);
  font-size: 3.22rem;
  font-weight: 600;
  margin-bottom: 2.2rem;
}
.heading-terciary {
  font-family: var(--heading-font);
  font-size: 2.2rem;
  font-weight: 500;
  margin-block: 1.2rem;
}
.heading-description {
  font-size: 1.8rem;
  font-weight: 400;
  color: #333333;
}
.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 4.2rem 2rem;
}
.cta-button {
  box-shadow: var(--inset-shadow);
  color: #fff;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  font-weight: 700;
  margin-block: 2.2rem;
  cursor: pointer;
  z-index: 2;
}
.blur-down {
  position: absolute;
  width: 100%;
  height: 20rem;
  bottom: 0;
  left: 0;
  background: var(--color-accent);
  filter: blur(10rem);
  z-index: 1;
}
.icon {
  font-size: 2rem;
  color: var(--color-primary);
}

.grid {
  display: grid;
  gap: 2rem;
  align-items: center;
}

.grid-2 {
  grid-template-columns: repeat(2, 1fr);
}
.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}
.grid-4 {
  grid-template-columns: repeat(4, 1fr);
}
.red {
  background-color: #ff0000d7;
}
.black {
  background-color: #000000c9;
}
.blue {
  background-color: #0000ffc5;
}
.menu {
  list-style: none;
  color: #fff;
  display: flex;
  place-items: center;
}
.menu-btn {
  font-family: var(--heading-primary-font);
  font-size: 1.8rem;
  box-shadow: inset 0 0 30px #fff;
  padding: 1rem 4rem;
  color: #fff;
  margin-block: 2rem;
  border: 3px solid transparent;
}

.btn-actived {
  border: 3px solid var(--color-accent);
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
  z-index: 5;
}
.link--actived {
  color: #b99c30 !important;
  text-decoration: underline !important;
}
.favorite-btn {
  position: absolute;
  top: 2%;
  right: 2%;
  z-index: 2;
}
.favorite-icon {
  width: 4rem;
  height: 4rem;
  color: var(--color-accent);
}
.item-btn {
  width: 100%;
  font-size: 1.6rem;
  padding: 1rem;
  margin-top: 3.2rem;
  color: inherit;
  box-shadow: inset 0 0 30px var(--color-accent);
}
.item-btn:hover,
.item-btn:active {
  box-shadow: inset 0 0 40px var(--color-accent);
}
/* ----- */
.main-nav {
  display: flex;
  justify-content: end;
}
.main-nav.container {
  padding: 0 2rem;
}
.main-nav-list {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 2rem;
  list-style: none;
  margin-block: 0.4rem;
  padding: 1rem;
}
.nav-list-item button {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.logo {
  height: 6rem;
  width: 6rem;
}
.toggle-menu-btn {
  box-shadow: inset 0 0 100px var(--color-primary);
  padding: 1.2rem;
  z-index: 15;
  position: fixed;
  right: 20px;
  top: 14px;
  backdrop-filter: blur(4px);
  border: 2px solid #e6e6e6;
}
.toggle-menu-btn .icon {
  color: var(--color-accent);
}

.side-bar {
  font-family: var(--heading-primary-font);
  font-size: 3rem;
  position: fixed;
  top: 0;
  right: 0;
  width: 30rem;
  height: 100vh;
  background-color: var(--color-primary);
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s ease-in-out;
  z-index: 10;
  overflow-y: scroll;
}
.side-bar::-webkit-scrollbar {
  visibility: hidden;
}
.side-bar--fullscreen {
  width: 100vw !important;
}

.side-bar-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
}

.side-bar-list-item a {
  color: var(--color-accent);
  text-decoration: none;
}
.side-bar .products-list {
  display: flex;
  align-items: center;
  color: var(--color-accent);
  overflow-x: scroll;
  overflow-y: hidden;
  margin-block: 2rem;
}
.side-bar .products-list::-webkit-scrollbar {
  background-color: #00000038;
  border-radius: 10px;
}
.side-bar .products-list::-webkit-scrollbar-thumb {
  background-color: var(--color-accent);
  border-radius: 10px;
}

.side-bar .product-item {
  width: 20rem;
}
.side-bar .heading-secondary {
  font-style: oblique;
  color: var(--color-accent);
  margin-top: 1.8rem;
  margin-bottom: 0;
}
.side-bar .product-colors {
  top: 8%;
}
.side-bar .product-color {
  width: 3rem;
  height: 3rem;
}
.side-bar .product-img {
  width: 20rem;
  height: 16rem;
}
.side-bar .product-price {
  color: var(--color-accent);
}

.side-bar .product-description,
.side-bar .deliver-price {
  color: #fae8afb6;
}

.social-links {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.social-link {
  width: 4rem;
  height: 4rem;
  display: flex;
  place-items: center;
  padding: 0.8rem;
  box-shadow: inset 0 0 30px var(--color-accent);
}
.social-link .icon {
  color: var(--color-accent);
}

.hero {
  display: flex;
  flex-direction: column;
  place-items: center;
  height: 84vh;
  margin-top: 2rem;
  overflow: hidden;
}
.hero.container {
  padding: 0 2rem;
}

.hero-img-box {
  position: relative;
}

.hero-img {
  height: 40rem;
  width: auto;
  z-index: -1;
  transform: translateY(15%) scale(1.4);
}

.hero-stat {
  position: absolute;
  font-family: var(--heading-primary-font);
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--color-primary);
  padding: 1rem 2rem;
  text-align: center;
  z-index: 2;
  top: 0;
  box-shadow: inset 0 0 30px var(--color-accent);
  transition: all 2s;
  animation: upDownMoviment 2s infinite;
}

/*  */
.why-us {
  padding-top: 3.2rem;
}
.why-us-img-box {
  position: relative;
  transform: translateY(10%);
  z-index: -1;
}
.why-us-img {
  width: 80%;
  border-radius: 0.8rem;
}
.why-us-list {
  list-style: none;
  width: 100%;
  align-items: start;
}
.why-us-icon {
  font-size: 3rem;
  color: var(--color-accent);
  box-shadow: var(--inset-shadow);
  padding: 0.6rem;
}
.hairstyle-prices {
  background-color: var(--color-primary);
  color: #fff;
  box-shadow: var(--inset-shadow);
  padding-block: 3.2rem;
}
.hairstyle-prices .heading-secondary {
  color: var(--color-accent);
  text-align: center;
  padding-block: 3.2rem;
}
.hairstyle {
  position: relative;
}
.hairstyle .favorite-btn {
  background-color: #18150941;
  top: 0;
  padding: 0.8rem;
}
.hairstyle-list {
  list-style: none;
  display: flex;
  place-items: center;
  gap: 1.2rem;
  overflow-y: hidden;
  overflow-x: scroll;
}

.hairstyle-list::-webkit-scrollbar {
  visibility: hidden;
}
.hairstyle {
  min-width: 36rem;
  color: #fff;
}
.hairstyle-img-box {
  width: 100%;
  height: 30rem;
  overflow: hidden;
}
.hairstyle-img {
  width: 100%;
  transform: translateY(-10%);
}
.hairstyle-img:hover,
.hairstyle-img:active {
  transform: scale(1.2);
  transition: all 0.5s;
}
.hairstyle-price {
  color: inherit;
  font-size: 2.4rem;
  font-family: var(--heading-primary-font);
  font-weight: 700;
}

.plans-programs {
  padding-block: 3.2rem;
}
.plans-programs .menu {
  justify-content: center;
  margin-bottom: 1.2rem;
}
.plans-programs .menu-btn {
  color: var(--color-primary);
  box-shadow: inset 0 0 30px var(--color-primary);
}
.plans-programs .menu-btn:hover,
.plans-programs .menu-btn:active {
  transition: all 0.3s;
  color: #e6e6e6;
  box-shadow: inset 0 0 80px var(--color-primary);
}

.plan {
  background-color: #000;
  color: #e6e6e6;
  height: 40rem;
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: rotate(-5deg);
  transition: all 0.3s;
}
.plan p {
  color: inherit;
  font-size: 1.5rem;
}
.plan:hover,
.plan:active {
  transform: rotate(0deg);
}
.plan-features-list {
  list-style: none;
  margin-top: 2.6rem;
}
.plan-feature {
  font-size: 1.4rem;
  margin-block: 1rem;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  color: #cccccc;
}
.plan .heading-terciary {
  font-weight: 700;
}
.plan-icon {
  font-size: 1.8rem;
  background-color: var(--color-accent);
  color: #000;
  padding: 0.4rem;
}
.plan-price {
  font-family: var(--heading-primary-font);
  font-size: 3.2rem;
  font-weight: 700;
  margin-top: 2rem;
}
.plan-btn {
  box-shadow: inset 0 0 100px #fff;
  font-family: var(--heading-primary-font);
  font-size: 1.6rem;
  font-weight: 700;
  border: 1.4px solid black;
  padding: 1rem;
  transform: translateY(80%);
  transition: all 0.3s;
}
.plan-btn:hover,
.plan-btn:active {
  background-color: #fff;
}
.plan.highlighted-plan {
  position: relative;
  transform: rotate(5deg);
  border: 4px solid var(--color-accent);
}
.plan.highlighted-plan:hover,
.plan.highlighted-plan:active {
  transform: rotate(0deg);
}
.highlighted-plan::after {
  content: "Recomendado!";
  position: absolute;
  top: -1.6rem;
  right: -1.6rem;
  background-color: var(--color-accent);
  color: #000;
  font-size: 1.4rem;
  font-weight: 700;
  padding: 0.4rem 1.2rem;
  box-shadow: inset 0 0 30px #fff;
}
.program {
  height: 100%;
}
.program-img-box {
  height: 40rem;
  width: 100%;
  overflow: hidden;
  margin-bottom: 1.2rem;
  box-shadow: inset 0 0 44rem var(--color-accent);
  border-bottom-left-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
}
.program-img {
  width: 100%;
  transform: translateY(-12%);
}
.program-price {
  display: block;
  font-family: var(--heading-primary-font);
  font-size: 3rem;
  font-weight: 700;
  margin-top: 2.4rem;
}
.program-content {
  display: flex;
  flex-direction: column;
  place-items: center;
  text-align: center;
  background-color: var(--color-primary);
  color: #cccccc;
  margin: 1.2rem;
  padding: 1.2rem;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.program-content .heading-terciary {
  font-size: 3rem;
}
.program-content p {
  color: #b3b3b3;
}

.program-btn {
  padding: 0.8rem 1.2rem;
  width: 100%;
  margin-top: 2rem;
  border: 2px solid var(--color-primary);
  box-shadow: inset 0 0 30px var(--color-accent);
  transition: all 0.3s;
  font-size: 2rem;
  color: inherit;
}
.program-btn:hover,
.program-btn:active {
  box-shadow: inset 0 0 40px var(--color-accent);
}
.products-list {
  list-style: none;
  overflow-x: scroll;
}
.products-list::-webkit-scrollbar {
  display: none;
}
.product-item {
  position: relative;
  padding-bottom: 1.8rem;
  width: 36rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.heading-terciary.product-name {
  font-weight: 700;
}
.product-img-box {
  width: 100%;
  height: 18.5rem;
  overflow: hidden;
}
.product-img {
  width: 100%;
  transform: translateY(-2%);
}
.product-description,
.deliver-price {
  color: #333333;
}
.product-price {
  color: #181509;
  margin-top: 2.4rem;
  font-size: 3.2rem;
  font-weight: 600;
  width: 100%;
}
.product-colors {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  place-items: center;
  position: absolute;
  top: 5%;
  left: 0;
}
.product-color {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 4px solid transparent;
}

.product-color--actived {
  border: 4px solid #b99c30 !important;
}

.footer {
  background-color: var(--color-primary);
  color: #e6e6e6;
  padding-block: 2.4rem;
}
.footer-content-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 0.8rem;
}
.footer-content-box div {
  padding: 3.2rem;
}
.footer-links {
  font-size: 1.6rem;
  list-style: none;
  margin-top: 2rem;
  padding: 0;
}
.footer-link {
  display: block;
  color: inherit;
  text-decoration: none;
  font-style: oblique;
  margin-block: 1.2rem;
}
.footer-link:active,
.footer-link:hover {
  transition: all 0.3s;
  color: var(--color-accent);
}

.signup-newsletter {
  background-color: #b99b301e;
}
.signup-newsletter--form-box {
  padding: 3.2rem;
}
.newsletter-form {
  font-size: 1.6rem;
  padding-block: 2.4rem;
  display: flex;
  align-items: center;
  gap: 0.6rem;
}
.newsletter-field {
  padding: 1.4rem 2.2rem;
}
.signup-newsletter--btn {
  padding: 1.4rem 2rem;
  background-color: #f4d35e;
}
.signup-newsletter--btn:active,
.signup-newsletter--btn:hover {
  transition: all 0.3s;
  background-color: #b99c30;
}
/* Animations */

@keyframes upDownMoviment {
  0% {
    transform: translateY(20rem) translateX(-14rem) rotate(10deg);
  }
  100% {
    transform: translateY(20rem) translateX(-14rem) rotate(-10deg);
  }
}
